params {  
  inputDir = "$projectDir/data"
  inputCsv = "$projectDir/data/input.csv"
  organism = "fungi"
  results = "Results"
}

// process {
//   container = "bioperl/bioperl:stable"
//     withName:antiSmash {
//         container = 'antismash/standalone-lite'
//     }
// }
docker{
  enabled = true
}

