params {  
  fasta = "$baseDir/data/input.fasta"
  gff = "$baseDir/data/input.gff"
  organism = "fungi"
  resultDir = "$baseDir/results"
}
process{
  executor = 'lsf'
  queue = 'normal'
}
singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind /project/eupathdblab/software_databases/antismash-8.0.4:/databases" 
}

